@import '../../../../shared/lib/styles/variables';

.card-clinic {
  width: 269px;
  border-radius: 10px;
  background-color: $color-base-background;
  margin-block: 30px;
  padding: 30px 1px 30px 20px;
  text-align: left;
  font-family: $base-font-family;

  color: $text-colort;

  .clinic__name {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }

  .schedule__container {
    display: flex;
    padding: 21px 0 32px;
    font-size: $font-size--small;
    font-style: normal;
    line-height: normal;
    gap: 11.358px;

    .schedule__title {
      margin: 0;
      font-weight: 500;
    }

    .schedule__types {
      width: min-content;
      font-weight: 400;

      .schedule__type {
        display: inline;
        margin: 0;
      }

      .schedule__type:last-child {
        color: $active-button;
      }
    }
  }

  .phone__container {
    display: flex;
    font-size: $font-size--small;
    gap: 11.358px;

    .phone__title {
      margin: 0;
      font-weight: 500;
    }

    .phone__number {
      margin: 0;
      font-weight: 400;
    }
  }

  .address__container {
    padding: 10px 0 32px;
    display: flex;
    gap: 11.358px;
    font-size: $font-size--small;

    .address__title {
      margin: 0;
      font-weight: 500;
    }

    .address__value {
      margin: 0;
      font-weight: 400;
    }
  }

  .price__container {
    margin: 0;
    color: $active-button;
    font-size: $font-size--small;
    font-weight: 500;
  }
}
