.advert-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 30px;
  max-height: 930px;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (width <= 1140px) {
    // @TODO пока не удаляю, но возможно они больше не нужны, т.к. по макету рекламы на мобилке нет
    // overflow-y: auto;
    // padding: 0;

    display: none;
  }
}
