.advert-card {
  width: 290px;
  border-radius: 10px;
  margin-block: 30px;

  &__image {
    border-radius: 10px;
    object-fit: cover;
  }

  @media screen and (width <= 1140px) {
    margin-block: 15px;
    min-height: 372px;
  }
}
