@import '~/shared/lib/index';

.form-clinic {
  max-width: 920px;
  background-color: $color-card-background;
  margin: 0 auto;
  border-radius: 10px;

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 540px;
    text-align: center;
    margin: 0 auto;
    padding: 43px 0 97px;
  }
  &__title {
    color: $text-color;
    @include font-h2;
    margin: 0 0 40px;
  }
  &__progress-scale {
    margin: 0 0 80px;
    display: flex;
    justify-content: space-between;
  }
  &__progress-element {
    @include font-small;
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    position: relative;

    @media screen and (width <= 530px) {
      font-size: 12px;
      width: 25%;
    }

    @media screen and (width <= 410px) {
      font-size: 9px;
    }

    &-circle {
      width: 38px;
      height: 38px;
      background-color: $color-not-active;
      color: $color-base-background;
      border-radius: 50%;
      line-height: 260%;
      z-index: 10;
      font-size: 14px;
      cursor: pointer;
    }

    &-line {
      width: 170%;
      height: 1px;
      background-color: $color-not-active;
      position: absolute;
      top: 19px;
      left: 50px;
      @media screen and (width <= 530px) {
        width: 150%;
      }
    }

    &-text {
      color: $color-not-active;
    }
  }
}
.form-clinic__progress-element-line_active,
.form-clinic__progress-element-circle_active {
  background-color: $active-button;
}

.form-clinic__progress-element-text_active {
  color: $text-color;
}
