@import '~/shared/lib/index';

.submit-button {
  @include font-h3;

  color: #ffff;
  background: $gradient;
  height: 42px;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &_size_s {
    min-width: 160px;
    @media screen and (width <= 500px) {
      min-width: 100%;
    }
  }

  &_size_l {
    min-width: 350px;
  }

  &:hover {
    background: $active-button;
  }

  &:active  {
    background: $pressed-button
  }

  &:focus-visible {
    outline: 2px solid #000;
  }

  &:disabled  {
    cursor: default;
    background: $color-not-active
  }
}