.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(196, 191, 191, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s linear, opacity 0.2s linear;

    &_opened {
        visibility: visible;
        opacity: 1;
    }
    &__container{
      position: relative;
    }
}