.clinic-list {
  display: flex;
  flex-direction: column;
  padding: 30px;
  max-height: 933px;

  &::-webkit-scrollbar {
    display: none;
  }

  &__margin-bottom {
    min-height: 30px;
  }

  @media screen and (width <= 1140px) {
    width: 100%;
    max-width: 730px;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline: 30px;
  }

  @media screen and (width <= 684px) {
    padding-inline: 0;
    gap: 20px;
    flex-wrap: nowrap;
  }

  @media screen and (width <= 500px) {
    flex-direction: column;
    gap: 0;
  }
}
