@import '~/shared/lib/index';

// UPD: перенесены в #root. Теперь назначение Layout - оборачивать в main
// .main {
//   margin: 0 auto;
//   padding: 0;
//   max-width: $max-width;

//   @media screen and (width <= 1140px) {
//     padding-inline: 15px;
//   }
// }


.card{
  max-width: 790px;
  width: 100%;

  margin: 20px auto;
  padding: 40px 20px 60px;

  background-color: $color-card-background;
  border-radius: 10px;

  @media screen and (width <= 500px) {
    padding: 30px 0 40px;
  }
}