.advert-card {
  width: 290px;
  min-height: 408px;
  border-radius: 10px;
  margin-block: 30px;
}

@media screen and (max-width: 1027px) {
  .advert-card {
    margin-block: 15px;
    min-height: 372px;
  }
}
