@import '~/shared/lib/index';

.map {
  margin: 0 auto;
  width: 90%;
  color: black;

  &__location {
    @include flex-container($align: flex-end, $just: flex-start, $gap: 5px);

    margin-bottom: 20px;

    &-text {
      @include font-h2;
    }
  }

  &__group {
    @include flex-container($just: space-between);

    margin-bottom: 30px;

    &-switch {
      @include flex-container;

      &-text {
        @include font-text;
      }
    }
  }

  &__container {
    width: 100%;
    height: 657px;
  }
}
