@import '~/shared/lib/index';

.map {
  max-width: 730px;

  &__location {
    @include flex-container($align: flex-end, $just: flex-start, $gap: 5px);

    margin-bottom: 20px;

    &-text {
      @include font-h2;
    }
  }

  &__group {
    @include flex-container($just: space-between);

    margin-bottom: 30px;

    &-switch {
      @include flex-container;

      &-text {
        @include font-usual;
      }
    }
  }

  &__container {
    height: 657px;

    @media screen and (width < 1200px) {
      // TODO: не реагирует на проценты
      width: 60vw;
    }
  }
}
