@import '~/shared/lib/index';

.map {
  width: 100%;

  &__location {
    @include flex-container($align: flex-end, $just: flex-start, $gap: 5px);

    margin-bottom: 20px;

    &-text {
      @include font-h2;
    }
  }

  &__group {
    @include flex-container($just: space-between);

    margin-bottom: 30px;

    @media screen and (width <= 767px) {
      display: flex;
      flex-direction: column;
    }

    &-switch {
      @include flex-container;

      &-text {
        @include font-usual;
      }
    }
  }

  &__container {
    min-height: 280px;
    height: 657px;

    @media screen and (width < 1140px) {
      height: auto;
      aspect-ratio: 1 / 1;
    }
  }

  &__input-container{
    max-width: 255px;
    width: 100%;
  }
}
