@import '~/shared/lib/styles/variables';
@import '~/shared/lib/styles/mixins-font';

.clinic-card {
  width: 263px;
  border-radius: 10px;
  background-color: $color-base-background;
  margin-block: 15px;
  padding: 30px 6px 30px 21px;
  text-align: left;
  color: $text-color;
  cursor: pointer;

  &__name {
    margin: 0;
    @include font-h3;
    line-height: 140%;
  }

  @media screen and (width <= 1140px) {
    background-color: $color-card-background;
    width: 260px;
    padding: 30px 15px;
    margin-block: 7.5px;
  }

  &__timetable {
    display: flex;
    padding: 32px 0;
    gap: 8px;
    @include font-small;

    &-title {
      min-width: 120px;
      @include font-small-select;
    }

    &-period {
      min-width: 140px;
      color: $active-button;
    }
  }

  &__phone {
    display: flex;
    gap: 8px;
    @include font-small-select;
  }

  &__address {
    display: flex;
    padding: 32px 0 0;
    gap: 8px;
    @include font-small;

    &-title {
      @include font-small-select;
    }
  }
}
