@import '~/shared/lib/styles/variables';
@import '~/shared/lib/styles/mixins-font';

.clinic-card {
  width: 100%;
  max-width: 270px;
  border-radius: 10px;
  background-color: $color-base-background;
  margin-block: 15px;
  padding: 30px 14px 30px 16px;
  text-align: left;
  color: $text-color;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &__name {
    margin: 0;
    padding-top: 20px;
    cursor: pointer;

    @include font-h3;
    line-height: 140%;
  }

  @media screen and (width <= 1140px) {
    background-color: $color-card-background;
    max-width: 266px;
    padding: 30px 12px;
    margin-block: 7.5px;

    &:first-of-type {
      margin-top: 7.5px;
    }

    &:last-of-type {
      margin-bottom: 7.5px;
    }
  }

  &__widget-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include font-small-select;
  }

  &__widget-distance {
    display: flex;
    gap: 6px;
    color: $color-not-active;
  }

  &__widget-rating {
    display: flex;
    position: relative;
    margin-right: 14px;
    color: $color-not-active;

    &-ico {
      position: absolute;
      top: -13px;
      right: -13px;
    }
  }

  &__timetable {
    display: flex;
    padding: 32px 0;

    @include font-small;

    &-title {
      min-width: 120px;

      @include font-small-select;
    }

    &-period {
      cursor: pointer;
      min-width: 140px;
      display: flex;
      flex-wrap: nowrap;
      gap: 4px;
      color: #695feb;
    }

    &-list {
      height: 18px;
      overflow: hidden;
      transition: all 0.3s ease-in-out;

      &_open {
        height: 120px;
      }
    }

    &-ico {
      display: block;
      align-self: flex-start;
      margin-top: 4px;
      transition: all 0.2s ease-in-out;

      &_up {
        transform: rotate(180deg) translateY(50%);
        margin-top: 8px;
      }
    }
  }

  &__phone {
    display: flex;
    gap: 8px;

    @include font-small-select;

    &-number {
      color: $active-button;
    }
  }

  &__address {
    display: flex;
    padding: 32px 0 0;
    gap: 8px;

    @include font-small;

    &-title {
      @include font-small-select;
    }
  }

  &__appoint {
    display: flex;
    color: $active-button;
    padding-top: 20px;

    @include font-small-select;
  }
}
