@import '~/shared/lib/index';

.registration-page{
  max-width: 920px;
  background-color: $color-card-background;
  margin: 0 auto;
  border-radius: 10px;

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 540px;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0 100px;
  }
  &__title {
    color: $text-color;
    @include font-h2;
    margin: 0 0 40px;
  }
}
