.close-button {
  min-width: 25px;
  min-height: 25px;
  margin: 0;
  position: absolute;
  right: 15px;
  top: 15px;
  background-image: url(../../assets/icons/button-close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;

  &:hover {
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
  }
}

