.close-button {
  min-width: 25px;
  min-height: 25px;
  margin: 0;
  position: absolute;
  right: 30px;
  top: 30px;
  background-image: url(../../assets/icons/button-close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.6;
  }

  @media screen and (width <= 625px) {
    min-width: 11px;
    min-height: 11px;
    background-size: 11px;
    right: 14px;
    top: 14px;
  }
}

