@import '~/shared/lib/styles/variables';

.main-page {
  display: flex;
  gap: 30px;
  width: 1110px;
  margin: 0 auto;
  padding-bottom: 30px;
  height: 933px;

  @media screen and (max-width: 1140px) {
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 100%;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: $color-base-background;
    background-color: $color-active;
    border: 2px solid $active-button;
    border-radius: 8px;
    width: 200px;
    height: 28px;
  }

  &__search-block {
    width: 730px;

    @media screen and (max-width: 767px) {
      max-width: 100%;
    }
  }

  &__card-list {
    width: 350px;
    background-color: $color-card-background;
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    @media screen and (max-width: 1140px) {
      overflow-y: visible;
      width: 290px;
      display: flex;
      flex-direction: column;
      background-color: $color-base-background;
      order: 1;
    }
  }
}
