@import '~/shared/lib/styles/variables';
@import '~/shared/lib/styles/mixins-font';

.main-page {
  display: flex;
  gap: 30px;
  width: 1110px;
  margin: 0 auto;
  min-height: 556px;
  max-height: calc(100vh - 110px);
  padding-bottom: 30px;

  @media screen and (width <= 1140px) {
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 100%;
  }

  &__search-block {
    width: 730px;

    @media screen and (width <= 767px) {
      max-width: 100%;
    }
  }

  &__card-list {
    display: flex;
    width: 350px;
    background-color: $color-card-background;
    min-height: 556px;
    max-height: calc(100vh - 110px);
    overflow-y: auto;
    border-radius: 10px;

    &::-webkit-scrollbar {
      display: none;
    }

    @media screen and (width <= 1140px) {
      width: 100%;
      max-width: 730px;
      overflow-y: visible;
      background-color: $color-base-background;
      order: 1;
    }

    @media screen and (width <= 500px) {
      width: 290px;
      flex-direction: column;
      background-color: $color-base-background;
      order: 1;
    }
  }

  &__not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 350px;

    &-ico {
      width: 125px;
      height: 100px;
      margin-bottom: 30px;
    }

    &-text {
      color: #8488a5;

      @include font-usual;
    }
  }
}
