@import '~/shared/lib/index';

.search-clinic {
  width: 100%;
  max-width: 730px;
  margin-bottom: 60px;

  &__container{
    display: flex;

    @include flex-container($just: space-between, $gap: 30px);
    align-items: center;
    margin-bottom: 31px;
  }

  &__group{
    display: flex;
    max-width: calc(100% - 196px);

    @include flex-container($just: space-between, $gap: 0);
  }
}
