@import '~/shared/lib/index';

.search-clinic {
  width: 100%;
  max-width: 730px;

  &__container{
display: flex;
justify-content: space-between;
align-items: center;
//border:1px solid red;
margin-bottom: 31px;
  }
  &__group{
    display: flex;
    //border:1px solid blueviolet;
    max-width: calc(100% - 196px);
    justify-content: space-between;
  }
}
