@import '~/index';

.icon-btn {
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 0.2s linear;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    scale: 0.97;
    opacity: 1;
    border-color: var(--el-border-color-active);
  }

  &:focus {
    outline: 3px solid var(--el-border-color-active);
  }

  &_normal {
    padding: 5px 10px;
    width: 50px;
    height: 40px;
    color: var(--el-tx-color);
    background-color: var(--el-bg-color);
    border: 1px solid var(--el-border-color);
  }

  &_small {
    width: 32px;
    height: 32px;
    padding: 0;
    background-color: transparent;
    color: var(--main-tx-color);
    border: none;
  }
}
