.map-page {
  width: 100%;
  height: 50vh;
  padding: 20px;

  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100% 100%;
  gap: 20px;
}

.map-page__title {
  display: block;
}

.map-page__link {
  display: block;
  margin: 20px 0 0;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  transition: color 0.2s linear;
}

.map-page__link:hover {
  color: #4ff;
}

.map-page__iframe {
  width: 100%;
  height: 100%;
}

.map-page__mark {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.map-page__mark-text {
  color: #000;
}
