@import '~/shared/lib/styles/variables.scss';
@import '~/shared/lib/styles/mixins.scss';

.header {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2em;

  // &__logo {

  // }

  // &__title {
  //   margin: 0;
  // }

  // &__user {

  // }

  &__link-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__link {
    font-size: 24px;
    text-decoration: none;
    color: #000;
    transition: color 0.2s linear;

    &_active {
      color: rgb(214, 155, 5);
    }

    &:hover {
      color: rgb(255, 202, 68);
    }
  }
}

.test {
  width: 100px;
  height: 100px;
  @include border(1px, solid, $active-color-two);
  @include border-radius(10px);
  background-image: url('#{$logo-icon}');
}

.test-button {
  width: 200px;
  height: 100px;
  @include border-radius(30px);
  @include gradient-background(90deg, $active-color-two 0%, $active 48.5%, $active-color-two 100%);
}
