@import '~/shared/lib/index';

.icon {
  &__icon-button {
    &_type_mobile {
      display: none;
      margin-left: 16px;
      margin-right: 16px;

      @media screen and (width <=500px) {
        display: block;
      }
    }
    &_type_normal {
      @media screen and (width <= 768px) {
        margin-left: 0;
      }

      @media screen and (width <= 500px) {
        display: none;
      }
    }
  }

  &__user-click {
    width: 197px;
    border-radius: 10px;
    border: 1px solid $color-contour;
    background: $color-base-background;
    position: absolute;
    top: 61px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;

    &_type_mobile {
      height: 80px;
      right: 0;
      padding: 10px 20px 15px;

      @media screen and (width >= 500px) {
        display: none;
      }
    }

    &_type_normal {
      height: 84px;
      right: -30px;
      padding: 10px 30px 20px;

      @media screen and (width <= 1200px) {
        right: 0;
      }
      @media screen and (width <= 500px) {
        display: none;
      }
    }
  }
  &__user-click-link {
    @include font-small-select;
    color: $text-color;

    &:hover{
      opacity: .8;
    }
  }
}
