.sbtbtn {
  border-radius: 10px;
  color: #fff;
  &_variant {
    &_active {
      background-color: linear-gradient(90deg, #4f73e7 0%, #626ae8 48.85%, #8b56e9 100%);
    }
    &_hover {
      background-color: #695feb;
    }
    &_pressed {
      background-color: #400bc0;
    }
    &_disabled {
      background-color: #c4bfbf;
    }
  }
}
