@import '~/shared/lib';

.clinic-page{
  &__button-nav {
    @include font-usual;
    color: #9c8f8f;

    &:hover {
      color: $active-button;
    }
  }

  &__arrow-back {
    font-size: 30px;
    position: relative;
    top: 3px;
  }
}