@import '~/shared/lib/index';

.drop-down-menu {
  @include font-h3;

  padding: 11px 20px;
  min-width: calc(100% - 234px);
  border-radius: 10px;
  border: 2px solid $color-contour;
  box-sizing: content-box;
  color: $text-color;

  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  appearance: none;

  &::placeholder {
    color: $color-not-active;
  }

  &:hover {
    box-shadow: 0 0 10px $color-contour;
    appearance: none;
  }

  &:not([multiple]) {
    background-repeat: no-repeat;
    background-position: calc(100% - 20px);
    background-size: 11.25px 9px;
    background-image: url('~/shared/assets/icons/input-arrow.svg');
  }

  &::-ms-expand {
    display: none;

  }

  &__option-container {
    min-width: 100%;
  }

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none !important;
  }
}
