@import '~/shared/lib/styles/variables';
@import '~/shared/lib/styles/mixins-font';

.clinic-popup {
  padding: 80px 80px 99px;
  display: grid;
  grid-template-columns: 414px 350px;
  gap: 0 141px;
  background-color: $color-base-background;
  border-radius: 10px;
  position: relative;

  &__name {
    grid-column: 1;
    @include font-h1;
    line-height: 140%;
  }

  &__about {
    grid-column: 1;
    margin-top: 20px;
    @include font-usual;
  }

  &__timetable {
    grid-column: 2;
    grid-row: 2;
    margin-top: 20px;
    display: flex;
    gap: 0 5px;
    @include font-usual;

    &-title {
      font-weight: 600;
    }

    &-period {
      max-width: 160px;
      line-height: 19.5px;
    }
  }

  &__phone {
    grid-column: 1;
    margin-top: 60px;
    display: flex;
    gap: 0 5px;
    @include font-usual;


    &-title {
      font-weight: 600;
    }
  }

  &__site {
    grid-column: 1;
    margin-top: 40px;
    display: flex;
    gap: 0 5px;
    @include font-usual;

    &-title {
      font-weight: 600;
    }

    &-link {
      color: $active-button;
    }
  }

  &__address {
    grid-column: 2;
    grid-row: 2;
    margin-top: 80px;
    @include font-usual;

    &-title {
      font-weight: 600;
    }

    &-text {
      display: flex;
      gap: 0 5px;
      line-height: 19.5px;
    }
  }
}
