@import '~/shared/lib/styles/variables';
@import '~/shared/lib/styles/mixins-font';

.clinic-popup {
  padding: 80px 80px 96px;
  display: grid;
  grid-template-columns: 414px 350px;
  gap: 0 141px;
  background-color: #ffffff;
  border-radius: 10px;

  &__name {
    grid-column: 1;
    margin: 0;
    box-sizing: border-box;
    @include font-h1;
    line-height: 140%;
  }

  &__about {
    margin-top: 20px;
    grid-column: 1;
    box-sizing: border-box;
  }

  &__timetable {
    grid-column: 2;
    grid-row: 2;
    margin-top: 20px;
    display: flex;
    @include font-usual;
    gap: 11.358px;

    &-title {
      margin: 0;
      font-weight: 600;
    }

    &-periods {
      width: min-content;
    }

    &-period {
      width: max-content;
    }
  }

  &__phone {
    grid-column: 1;
    margin-top: 60px;
    display: flex;
    @include font-usual;
    gap: 11.358px;

    &-title {
      margin: 0;
      font-weight: 600;
    }

    &-number {
      margin: 0;
    }
  }

  &__site {
    grid-column: 1;
    margin-top: 40px;
    display: flex;
    @include font-usual;
    color: #3b405d;
    gap: 11.358px;

    &-title {
      margin: 0;
      font-weight: 600;
    }

    &-text {
      margin: 0;
      font-weight: 400;
    }
  }

  &__address {
    grid-column: 2;
    grid-row: 2;
    margin-top: 80px;
    display: flex;
    gap: 11.358px;
    @include font-usual;

    &-title {
      margin: 0;
      font-weight: 600;
    }

    &-value {
      margin: 0;
    }
  }
}
