@import '~/shared/lib/index';

.input-form {
  @include font-usual;
  margin-bottom: 20px;

  &__title {
    color: $text-color;
    margin-bottom: 12px;
  }

  &__input {
    min-height: 41px;
    border-radius: 10px;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid $color-not-active;
  }

  &__input_error {
    border: 1px solid $color-error;
    background: url("~/shared/assets/icons/Icon-error.svg") no-repeat center right 13px;
  }

  &__input:valid {
    border: 2px solid $active-button;
  }

  &__input:focus {
    border: 2px solid $active-button;
  }

  &__input::placeholder {
    color: $color-not-active;
  }

  &__span-error {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: $color-error;
  }
}

.input-form:last-child {
  margin-bottom: 40px;
}