@import '~/shared/lib/index';

.drop-down-input{
  position: relative;

  &__value {
    @include font-usual;
    position: relative;

    padding: 11px 20px;
    min-width: 214px;

    border-radius: 10px;
    border: 2px solid $color-contour;
    box-sizing: content-box;
    cursor: pointer;

    transition: border-color .2s ease-in-out;

    &:hover {
      box-shadow: 0 0 10px $color-contour;
    }

    &::after {
      content: '';
      width: 11.25px;
      height: 9px;
      background-size: 11.25px 9px;
      background-image: url('~/shared/assets/icons/input-arrow.svg');

      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);

      transition: all 0.2s ease-in-out;
    }

    &_open{
      border-color: $active-button;

      &::after{
        transform: rotate(180deg) translateY(50%);
      }
    }
  }

  &__list{
    display: none;
    margin-top: 10px;
    padding: 16px 0;

    position: absolute;
    right: 0;
    left: 0;
    z-index: 2;

    background-color: $color-base-background;

    &_opened{
      @include flex-container($dir: column, $align: left, $gap: 0);
    }
  }

  &__option{
    @include font-small;
    position: relative;

    padding: 6px 20px;
    cursor: pointer;

    &:hover{
      opacity: 0.8;
    }

    &:focus{
      outline: 1px solid #000;
    }

    &:focus-visible {
      outline: 1px solid #000;
    }

    &_selected{
      &::after{
        content: '';
        width: 11.25px;
        height: 9px;
        background-size: 11.25px 9px;
        background-image: url('~/shared/assets/icons/input-arrow.svg');

        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
      }
    }
  }
}