.checkbox {
  padding-right: 40px;
  &_variant {
    &_primary {
      //background-color: #df1f1f;
      border: 2px solid #ccd1f5;
    }
    &_secondary {
      border-radius: 2px;
      border: 2px solid #c4bfbf;
    }
  }
}
