.storybook__checkBox_primary {
  //border-radius:  2px;
  //background-color: #C4BFBF;
  //border: 2px solid #CCD1F5;
}
.storybook__checkBox_secondary {
  border-radius: 2px;
  border: 2px solid #ccd1f5;
  //background-color: #df1f1f;
}
/* .storybook__checkBox_primary:checked{
  color:#CCD1F5;
} */
